/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
   width: 1200px;
}
/*********
 Menu styling
 *******/

#menu-header {

  li {
    width: 120px;
    border-bottom: $nav-border;
    a:hover {
      text-decoration: none;
    }
  }

}


/**********
  Index page slider
**********/

#flexslider_hg_index_wrapper {
  height: 400px;
  overflow: hidden;

  img {
    width: 650px;
    height: 400px;
    margin-left: 160px;

  }

  div.slide-data {
    width: 175px;
    height: 400px;
    position: relative;
    top: -400px;
    left: -5px;
  }
}
/******
 Index page post feed
******/

.home .post {
  width: 400px;
  float: left;
  height: 400px;
  overflow: hidden;
  padding-bottom: 20px;

  section {
    overflow: hidden;
    height: 310px;

  }
}



.hentry header {
   padding: 10px;
    a {
      color: black;
    }

}


